.App {
  text-align: center;
}

#results{
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo{
  position: absolute;
  font-size: 2em;
  color:white;
  margin-left: -40px;
  margin-top: -12px;
}

#logo-image{
  width: 350px;
}

@media only screen and (max-width: 700px) {
  #logo{
    display: none;
  }
}



